@media (max-width:480px) { /* change depending on the mobiles you're targeting */
    input, select { /* add further tags here according to your needs */
        height:300px;
        width:300px
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(162, 167, 147);
}

.container {
    text-align: center;
}

form {
    width: 500%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(167, 165, 165, 0.646);
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 200px; /* Set an initial height */
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    resize: none; /* Disable resizing by the user */
    overflow-y: auto; /* Add scrollbar when content exceeds height */
}

input[type="submit"] {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

